.DS_Store
.AppleDouble
.LSOverride
.vscode/
.idea/

__pycache__/
*.py[cod]
*$py.class

.env
.venv
env/
venv/

*.mp4
*.mkv
*.avi
*.h264

build/
DerivedData/

*.xcuserdatad
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

.build/
.swiftpm/

*.crash
*.log
